@model WhyNotEarth.Meredith.Pages.Data.Page


<!doctype html>
<html ⚡>
  <head>
    <meta charset="utf-8">
    <title>Paul  Chris Luke</title>
    <link rel="canonical" href="@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}")">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-boilerplate>
        body {
            animation: -amp-start 8s steps(1, end) 0s 1 normal both
        }

        @@keyframes -amp-start {
            from {
                visibility: hidden
            }
            to {
                visibility: visible
            }
        }
    </style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <meta name="amp-experiments-opt-in" content="amp-story">

    <script async custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js"></script>
    <script async custom-element="amp-story" src="https://cdn.ampproject.org/v0/amp-story-1.0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Tajawal:200,300,400" rel="stylesheet">
    <style amp-custom>
        amp-story {
            font-family: 'Tajawal', sans-serif;
            color: rgba(255, 255, 255, .7);
        }

        amp-story-page {
            background-color: #000;
        }

        h1 {
            font-weight: bold;
            font-size: 2.875em;
            line-height: 1.174;
            text-align: right;
        }

        p {
            font-weight: normal;
            font-size: 1.3em;
            line-height: 1.5em;
            color: rgba(255, 255, 255, .7);
        }

        q,
        a {
            font-weight: 300;
            font-size: 1.1em;

        }

        a {
            font-weight: 300;
            font-size: 1.1em;
            text-align: center;
            text-decoration: none;
            color: rgba(255, 255, 255, .9);
            border-top: rgba(255, 255, 255, .9);
            border-top-width: 2px;
            border-top-style: double;

        }

        amp-story-grid-layer.bottom {
            align-content: end;
        }

        amp-story-grid-layer.noedge {
            padding: 0px;
        }

        amp-story-grid-layer.center-text {
            align-content: center;
        }

        .wrapper {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
        }

        .banner-text {
            text-align: center;
            background-color: #000;
            line-height: 2em;
        }
    </style>
</head>

<body>
<amp-story standalone title="Paul Chris Luke" publisher="Paul Chris Luke">
    @foreach (var card in Model.Cards.Select((value, index) => new { Index = index, Value = value }))
    {
        <amp-story-page id="@(card.Index == 0 ? "cover" : $"card-{card.Index}")">
            <amp-story-grid-layer template="fill">
                @if (card.Value.BackgroundUrl.EndsWith(".mp4"))
                {
                    <amp-video autoplay loop
                               width="720" height="1280"
                               poster="@card.Value.PosterUrl"
                               layout="responsive">
                        <source src="@card.Value.BackgroundUrl" type="video/mp4">
                    </amp-video>
                }
                else
                {
                    <div animate-in="zoom-in" animate-in-duration="200s" class="img-container">
                        <amp-img src="@card.Value.BackgroundUrl" width="720" height="1280" layout="responsive">
                        </amp-img>
                    </div>
                }
            </amp-story-grid-layer>
            <amp-story-grid-layer template="vertical" class="bottom">
                <a animate-in="fade-in" animate-in-delay="1.3s" href="@card.Value.CallToActionUrl">@card.Value.CallToAction</a>
            </amp-story-grid-layer>
        </amp-story-page> 
    }
</amp-story>
</body>
</html>
